// grid area
#item7-a{grid-area: a;}
#item7-b{grid-area: b;}
#item7-c{grid-area: c;}
#item7-d{grid-area: d;}
#item7-e{grid-area: e;}
#item7-f{grid-area: f;}


.grid-7{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    grid-template-areas:
     "a a b e"
     "c d b e"
    ;
}

.item-7{
    background-color: #444444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
}

#item7-f{
    display: none;
}

// media queries
@media screen and (max-width: 400px) {
    .grid-7{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 10px;
        grid-template-areas:
         "d a"
         "e b"
         "f c"
        ;

        #item7-f{display: block;}
    }
}