/* Grid areas*/
#header{grid-area: header;}
#main{grid-area: main;}
#sidebar{ grid-area: sidebar;}
#footer{grid-area: footer;}

.grid-4{
    width: 30%;
    height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #000;
    gap: 10px;
    box-sizing: content-box;
    grid-template-areas: 
    ". header header"
    "sidebar main main"
    "footer footer footer";


}

.item-4{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(119, 113, 113, 0.267);
    font-size: 2rem;
    padding-left: 20px;
    color:#fff;
  
}

#header{
    background-color: #999999;
}
#main{
    background-color: #444444;
    height: 200px;
}
#sidebar{
    background-color: #444444;
}
#footer{
    background-color: #999999;
}